:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #00b023;
  --color-secondary: #5239f1;
  --color-accent: #f59e0b;

  --color-bg-light: #ffffff;
  --color-bg-alt-light: #f3f4f6;
  --color-bg-dark: #0b0b0b;
  --color-bg-alt-dark: #242424; 

  --text-light: #213547;
  --text-dark: #e5e7eb;
  --color-muted: #6b7280;

  --border-standard: 1px solid #2a2f36;
}

body {
  /* Modo claro como apariencia principal */
  background-color: var(--color-bg-light);
  color: var(--text-light)
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-bg-dark); /* Fondo modo oscuro */
    color: var(--text-dark);
  }
}
