.appHeader {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  background-color: var(--light-alt);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

:root[data-theme="dark"] .appHeader {
    background-color: var(--dark-alt);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Título */
.pageTitle {
  margin: 0;
  font-size: 1.75rem;
  font-weight: 600;
}
