.wordcloudContainer {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-alt-light);
  margin-bottom: 40px;
}

@media (prefers-color-scheme: dark) {
  .wordcloudContainer {
    background-color: var(--color-bg-alt-dark);
  }
}